Repository sncf-connect-tech/hesperides-jenkins-lib: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

forbid-abstract-classes-and-traits:
  name: Ensure neither abstract classes nor traits are used
  language: pygrep
  entry: '^(abstract|trait) '

force-JsonSlurperClassic:
  name: Ensure JsonSlurperClassic is used instead of non-serializable JsonSlurper
  language: pygrep
  entry: JsonSlurper[^C]

forbid-instanceof-string:
  name: Use "instanceof CharSequence" to also support GString
  language: pygrep
  entry: ' instanceof G?String'

forbid-elvis-operator-followed-by-true:
  name: Forbidding Elvis operator followed by true as it won't work as you expect
  language: pygrep
  entry: \?:\s*true

forbid-use-of-dot-empty:
  name: Use .isEmpty instead of .empty, cf. https://issues.jenkins-ci.org/browse/JENKINS-50863
  language: pygrep
  entry: \.empty

Deploy voyages-sncf-technologies/hesperides-jenkins-lib to github.com/voyages-sncf-technologies/hesperides-jenkins-lib.git:gh-pages
  CONTRIBUTING.md
Due: none

Adding the function doesModuleExist to the API
  vars/hesperides.groovy
Due: force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Adding the function doesModuleExist to the API (#37)
  vars/hesperides.groovy
Due: force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Deploy voyages-sncf-technologies/hesperides-jenkins-lib to github.com/voyages-sncf-technologies/hesperides-jenkins-lib.git:gh-pages
  vars/hesperides.groovy
Due: force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Update Hesperides.groovy
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

getDiffProperties timestampDate format update
  vars/hesperides.txt
Due: none

Fix: getDiffProperties support for timestamp parameter (#39)
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  vars/hesperides.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Deploy voyages-sncf-technologies/hesperides-jenkins-lib to github.com/voyages-sncf-technologies/hesperides-jenkins-lib.git:gh-pages
  index.html
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  vars/hesperides.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Deploy voyages-sncf-technologies/hesperides-jenkins-lib to github.com/voyages-sncf-technologies/hesperides-jenkins-lib.git:gh-pages
  CHANGELOG.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix #803
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  vars/hesperides.groovy
  vars/hesperides.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Add tests & update CHANGELOG.md
  CHANGELOG.md
  test/HesperidesIntegrationSpec.groovy
Due: force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Fixing code & getting rid of deprecated endpoints
  CHANGELOG.md
  CONTRIBUTING.md
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  src/com/vsct/dt/hesperides/jenkins/pipelines/http/HTTPBuilderRequester.groovy
  test/HesperidesIntegrationSpec.groovy
  vars/hesperides.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Add cleanUnusedProperties - close #36 (#38)
  CHANGELOG.md
  CONTRIBUTING.md
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  src/com/vsct/dt/hesperides/jenkins/pipelines/http/HTTPBuilderRequester.groovy
  test/HesperidesIntegrationSpec.groovy
  vars/hesperides.groovy
  vars/hesperides.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Deploy voyages-sncf-technologies/hesperides-jenkins-lib to github.com/voyages-sncf-technologies/hesperides-jenkins-lib.git:gh-pages
  CHANGELOG.md
  CONTRIBUTING.md
  index.html
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  src/com/vsct/dt/hesperides/jenkins/pipelines/http/HTTPBuilderRequester.groovy
  test/HesperidesIntegrationSpec.groovy
  vars/hesperides.groovy
  vars/hesperides.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

FIX #42
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  test/HesperidesIntegrationSpec.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Change test name
  test/HesperidesIntegrationSpec.groovy
Due: force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Handling logicGroupPath starting with a in putModuleOnPlatform - fix #42 (#43)
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  test/HesperidesIntegrationSpec.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Deploy voyages-sncf-technologies/hesperides-jenkins-lib to github.com/voyages-sncf-technologies/hesperides-jenkins-lib.git:gh-pages
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  test/HesperidesIntegrationSpec.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

v1.1.22
  CHANGELOG.md
  build.gradle
Due: none

Deploy voyages-sncf-technologies/hesperides-jenkins-lib to github.com/voyages-sncf-technologies/hesperides-jenkins-lib.git:gh-pages
  CHANGELOG.md
  build.gradle
Due: none

[JFL] - Ajout fonction getDiffPropDisplay + TU + Changelog
  CHANGELOG.md
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  test/HesperidesIntegrationSpec.groovy
  vars/hesperides.groovy
  vars/hesperides.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

[JFL] - Ajout fonction getDiffPropDisplay + TU + Changelog (#41)
  CHANGELOG.md
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  test/HesperidesIntegrationSpec.groovy
  vars/hesperides.groovy
  vars/hesperides.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Deploy voyages-sncf-technologies/hesperides-jenkins-lib to github.com/voyages-sncf-technologies/hesperides-jenkins-lib.git:gh-pages
  CHANGELOG.md
  index.html
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  test/HesperidesIntegrationSpec.groovy
  vars/hesperides.groovy
  vars/hesperides.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Bump build.gradle version to 1.1.23
  build.gradle
Due: none

Deploy voyages-sncf-technologies/hesperides-jenkins-lib to github.com/voyages-sncf-technologies/hesperides-jenkins-lib.git:gh-pages
  build.gradle
Due: none

[JFL] - Correction nom fonction car erreur lors de l'appel
  vars/hesperides.groovy
Due: force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Fix: getDiffPropertiesAsString
  CHANGELOG.md
  CONTRIBUTING.md
  build.gradle
  vars/hesperides.groovy
Due: force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Deploy voyages-sncf-technologies/hesperides-jenkins-lib to github.com/voyages-sncf-technologies/hesperides-jenkins-lib.git:gh-pages
  CHANGELOG.md
  CONTRIBUTING.md
  build.gradle
  vars/hesperides.groovy
Due: force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Deploy voyages-sncf-technologies/hesperides-jenkins-lib to github.com/voyages-sncf-technologies/hesperides-jenkins-lib.git:gh-pages
  index.html
  vars/hesperides.txt
Due: none

getDiffProperties now allows for a timestampDate parameter of type also "long"
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  vars/hesperides.txt
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

v1.1.25
  CHANGELOG.md
  build.gradle
Due: none

getInstanceFiles fix missing 'simulate' query param
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Adding support for $HESPERIDES_URL
  CHANGELOG.md
  src/com/vsct/dt/hesperides/jenkins/pipelines/Hesperides.groovy
  vars/hesperides.groovy
Due: forbid-abstract-classes-and-traits, force-JsonSlurperClassic, forbid-instanceof-string, forbid-elvis-operator-followed-by-true, forbid-use-of-dot-empty

Path conditions:
  forbid-abstract-classes-and-traits: any of: ^src/.*\.groovy$
  force-JsonSlurperClassic: any of: \.groovy$
  forbid-instanceof-string: any of: \.groovy$
  forbid-elvis-operator-followed-by-true: any of: \.groovy$
  forbid-use-of-dot-empty: any of: \.groovy$
